<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% assign title = page.title ? page.title : site.title %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ '/site.webmanifest' | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="#db6a26">
    <meta name="msapplication-TileColor" content="#db6a26">
    <meta name="theme-color" content="#db6a26">

    <meta property="og:url" content="https://radicallyopensecurity.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{ '/assets/images/ros-og-image.png' | prepend: site.baseurl | prepend: site.url }}">

    <meta name="twitter:card" content="{{ '/assets/images/ros-twitter-card.png' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="twitter:domain" content="radicallyopensecurity.com">
    <meta property="twitter:url" content="https://radicallyopensecurity.com">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ '/assets/images/ros-twitter-summary.png' | prepend: site.baseurl | prepend: site.url }}">

    <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
</head>
