<div class="highlights flex-row flex-wrap ml-n2 mr-n2">
    {% for highlight in site.data.highlights[page.type] %}
    <a href="{{ highlight.link }}" target="_blank" class="highlight text-white flex-1 mb-5 d-inline-block mr-2 ml-2">
        {% if highlights.thumbnail != '' %}
        <img src="{{ '/assets/images/highlights/' | append: highlight.thumbnail | prepend: site.baseurl }}">
        {% endif %}
        <span class="mt-3 d-inline-block highlight-title">{{ highlight.title }}</span>
    </a>
    {% endfor %}
</div>
