{% for industry in include.data %}
{% assign mod = forloop.index | modulo: 2 %}
{% if mod == 0 and include.even == true %}
<ul class="industries-list">
    <li>{{ industry }}</li>
</ul>
{% endif %}
{% if mod != 0 and include.even == false %}
<ul class="industries-list">
    <li>{{ industry }}</li>
</ul>
{% endif %}
{% endfor %}

<div class="col-12 col-md-6">
    {% for industry in include.data %}
    {% assign mod = forloop.index %}
    {% if mod <= 6 %}
    <ul class="industries-list">
        <li>{{ industry }}</li>
    </ul>
    {% endif %}
    {% endfor %}
</div>
<div class="col-12 col-md-6">
    {% for industry in include.data %}
    {% assign mod = forloop.index %}
    {% if mod >= 7 %}
    <ul class="industries-list">
        <li>{{ industry }}</li>
    </ul>
    {% endif %}
    {% endfor %}
</div>
