<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if page.banner-padding-right == true %}
                <h1 class="page-banner__title pr-2">{{ page.title }}</h1>
                {% else %}
                <h1 class="page-banner__title">{{ page.title }}</h1>
                {% endif %}
            </div>
            <div class="col-12">
                <p class="page-banner__text">
                    {{ page.banner-text }}
                </p>
            </div>
        </div>
        {% if page.banner-divider != false %}
        <div class="divider"></div>
        {% endif %}
    </div>
</div>
