<div class="highlights flex-row flex-wrap ml-n2 mr-n2">
    {% for public-report in site.data.our-portfolio.public-reports %}
    <a href="{{public-report.link}}" target="_blank" class="highlight text-white flex-1 mb-5 d-inline-block mr-2 ml-2">
        {% if public-report.image != '' %}
        <img src="{{ '/assets/images/portfolio-public-reports/' | append: public-report.image | prepend: site.baseurl }}">
        {% endif %}
        <span class="d-inline-block highlight-title center pl-2 pr-2 w-100">
            {{public-report.project}}
        </span>
    </a>
    {% endfor %}
</div>
