{% if include.title %}
<div class="col pb-5 pt-0">
    <div class="section-title section-title--right">{{ include.title }}</div>
</div>
{% endif %}
<div class="ros-list ros-list--{{ include.row-amount }}">
    <div class="col-12 col-md-4">
        {% for item in include.config %}
        {% assign mod = forloop.index %}
        {% if mod <= 5 %}
        <div class="ros-list__item">
            <div class="ros-list__index">
                0{{ forloop.index }}
            </div>
            <div class="ros-list__title
            {% if include.uppercase %}
            ros-list__title--uppercase
            {% endif %}">
                {{ item.title }}
            </div>
            {% if item.text %}
            <p>
                {{ item.text }}
            </p>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-12 col-md-4">
        {% for item in include.config %}
        {% assign mod = forloop.index %}
        {% if mod >= 6 and mod <= 10 %}
        <div class="ros-list__item">
            <div class="ros-list__index">
                {% if forloop.index <= 9 %}
                0{{ forloop.index }}
                {% else %}
                {{ forloop.index }}
                {% endif %}
            </div>
            <div class="ros-list__title
            {% if include.uppercase %}
            ros-list__title--uppercase
            {% endif %}">
                {{ item.title }}
            </div>
            {% if item.text %}
            <p>
                {{ item.text }}
            </p>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-12 col-md-4">
        {% for item in include.config %}
        {% assign mod = forloop.index %}
        {% if mod >= 11 %}
        <div class="ros-list__item">
            <div class="ros-list__index">
                {{ forloop.index }}
            </div>
            <div class="ros-list__title
            {% if include.uppercase %}
            ros-list__title--uppercase
            {% endif %}">
                {{ item.title }}
            </div>
            {% if item.text %}
            <p>
                {{ item.text }}
            </p>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

