{% assign fullNameUrl = team-member.firstName | append: team-member.lastName %}
<div class="team-member__card">
    {% assign categoryPath = category.category | append: '/' %}
    <a class="team-member__link" href="{{ site.baseurl }}{{ fullNameUrl | prepend: categoryPath | prepend: '/our-team/' | append: '.html'| remove: ' ' }}">
        <div class="team-member__image" style="background-image: url('{{ '/assets/images/team/' | append: team-member.image | prepend: site.baseurl }}')">
        </div>
        <div class="team-member__name">
            {{ team-member.nametitle }} {{ team-member.firstName }} {{ team-member.lastName }}
        </div>
    </a>
</div>
