---
layout: post
title:  "Featured in the Volkskrant"
summary: "Radically Open Security's CEO Melanie Rieback was featured in the Dutch newspaper \"Volkskrant\" in an article \"The Honest Hacker\" by journalist Gerard Janssen. In the article she talks about cybersecurity, collaboration and transparency about the methods used."
author: Team
banner-divider: false
featured-image:
background-color: light
---

<div class="content">
    <p>Radically Open Security's CEO Melanie Rieback was featured in the Dutch newspaper "Volkskrant" in an article "The Honest Hacker" by journalist Gerard Janssen. In the article she talks about cybersecurity, collaboration and transparency about the methods used.</p>
    <p>Read the article on the Volkskrant website: <a class="reference external" href="http://www.volkskrant.nl/tech/deze-wonder-woman-van-de-computerbeveiligingswereld-hackt-zo-je-bedrijf~a4505208/">http://www.volkskrant.nl/tech/deze-wonder-woman-van-de-computerbeveiligingswereld-hackt-zo-je-bedrijf~a4505208/</a></p>
    <p>In the article she talks about cybersecurity, collaboration and ROS's transparent way of working.</p>
    <p>Special thanks to Robert van de Griend from the Volkskrant, Gerard Janssen and Aisha Zeijpveld for the permission to repost the article and photos.</p>
    <p>Click on the picture to read the article:</p>
    <a class="reference external image-reference" href="https://blog.radicallyopensecurity.com/f/ros-volkskrant.pdf">
        <img alt="Article about Melanie Rieback In Volkskrant" class="align-center" src="https://blog.radicallyopensecurity.com/f/20170713-Volkskrant-HonestHacker.jpg" style="width: 100%;"></a>
</div>