<div class="container">
    <div class="py-5">
        <div class="section-title section-title--white mb-4">Categories:</div>
        <div class="blog-categories__list">
            {% for category in site.data.news.categories %}
            <a class="blog-categories__links" href="{{ '/blog/' | append: category | prepend: site.baseurl | downcase }}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="py-5">
        <div class="section-title section-title--white mb-4">Featured Posts:</div>
        <div class="blog-list blog-list--featured-post">
            {% for featured-post in site.data.news.featured-posts %}
            <div>
                {% for post in site.posts %}
                {% if featured-post == post.title %}
                <a class="blog-featured-post__link" href="{{ post.url | prepend: site.baseurl | downcase }}">{{ post.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
