---
layout: default
title: Core Principles
background-color: dark
permalink: /core-principles/
banner-divider: false
banner-text:
---
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="divider"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="ros-list ros-list--5">
        {% for principle in site.data.non-profit.core-principles %}
        <div class="ros-list__item">
            <div class="ros-list__index">
                0{{ forloop.index }}
            </div>
            <div class="ros-list__title ros-list__title--uppercase">
                {{ principle.title }}
            </div>
            {% if principle.text %}
            <p>
                {{ principle.text }}
            </p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
