---
layout: default
title: Join Our Team
permalink: /join-our-team/
banner-padding-right: true
banner-divider: false
banner-text: 'Are you interested in working with us?
<br>
<br>
We’re always looking for talented individuals to be a part of our unique collective of hackers and researchers!
<br>
<br>
'
---

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-block mb-5">
                    <span class="section-title">We are currently looking for mid-/senior-level pentesters and security experts.</span>
                    <p>Since our inception in 2014, we've worked with over 150 clients. From large multinationals,
                        corporations and SMBs, to civil society, open-source projects, NGOs and (small) human rights
                        organizations.</p>

                    <p>Our team currently consists of more than 50 staff members. Our <a href="https://www.radicallyopensecurity.com/services/" target="_blank" class="font-weight-bold">area of expertise</a> is very
                        broad: web application, mobile application, code audits, infrastructure, Red Teaming,
                        hardware and embedded, cryptographic audits, protocol audits, social engineering,
                        phishing, physical/mystery guest, security trainings and workshops,
                        and incident response.</p>

                    <p>Some of the audits require special or niche skills and can be uniquely challenging.
                        We work on high-profile projects regularly. Examples include the European Commission,
                        Covid apps (Dutch Ministery of Health), Dutch energy grid, core internet providers,
                        Google, lots of SMEs, and a wide variety of nonprofits, open source projects, and
                        civil society - F-Droid, Homebrew, Ushahidi, Mullvad VPN, Tauri, and <a href="https://www.radicallyopensecurity.com/our-portfolio/" target="_blank" class="font-weight-bold"">many more.</a></p>

                    <p>Being a nonprofit in the cyber security world is extremely rare; giving away 90% of our
                        profits to charity (<a href="https://nlnet.nl/" target="_blank" class="font-weight-bold">NLnet Foundation</a>) makes ROS a unique place to work. We offer
                        flexibility in location and working hours, a knowledgeable and highly technical group of
                        colleagues, and market-conform pay.</p>

                    <p>ROS has <a href="https://www.radicallyopensecurity.com/our-team/" target="_blank" class="font-weight-bold">staff</a> based all over the world. The core of the team resides in Western Europe,
                        but we also have colleagues in Canada, US, Peru, South Africa, Australia, and India.
                        Given the freedom of working remotely, you will have a lot of flexibility and space to
                        plan your own time.</p>
                </div>
        </div>
    </div>
    <div class="divider divider--low-margin"></div>
    <h3 class="page-banner__title mt-5 d-block" style="font-size:42px;">Desired Skills and Experience</h3>
    <ul class="d-lg-flex d-md-flex d-block justify-content-between mt-5" style="max-width: 950px;">
        <li class="mr-3 mb-3 ros-skill-1">Mid-level or senior-level pentesters</li>
        <li class="mr-3 mb-3 ros-skill-2">Affinity with FLOSS and hacker culture</li>
        <li class="mb-3 ros-skill-3">Being aligned with our <a href="https://www.radicallyopensecurity.com/core-principles/" target="_blank" class="font-weight-bold">core principles</a></li>
    </ul>
    <span class="font-weight-bold d-block mt-5 mb-5" style="max-width:1000px;">If you are interested in applying, applications are always open. Please send an e-mail with your
        CV and motivation to: <a href="mailto:info@radicallyopensecurity.com" style="word-break:normal;">info@radicallyopensecurity.com</a></span>
    <div class="divider divider--low-margin"></div>
</div>