---
layout: highlights
title: Public report highlights
background-color: dark
permalink: /our-portfolio/
banner-divider: false
banner-text:
---

<div class="container pb-4">
    <div class="mb-5">
        {% include public-reports-portfolio.html %}
    </div>
    <div class="row align-items-center border-top border-bottom flex-row pt-6 pb-6 mt-5 mb-6">
        <div class="col-12 col-md-8">
            <h1 class="page-banner__title">View the full list of our public reports</h1>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0">
            <a class="public-report__button" href="https://github.com/radicallyopensecurity/ros-website/tree/main/ros-public-reports" target="_blank">
                View all</a>
        </div>
    </div>
    <div class="py-2">
        <div class="section-title">Software and Presentation Portfolio</div>
    </div>
    At Radically Open Security we believe in
    transparency, which is why our software is
    available and open source.
    <div class="row">
        <div class="col-6">
            <a href="https://github.com/radicallyopensecurity" target="_blank">
                <div class="portfolio-logo">
                    <img class="portfolio-logo__logo"
                         src="{{ '/assets/images/logo_github.svg' | prepend: site.baseurl }}">
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="https://gitlab.com/radicallyopensecurity" target="_blank">
                <div class="portfolio-logo">
                    <img class="portfolio-logo__logo"
                         src="{{ '/assets/images/logo_gitlab.svg' | prepend: site.baseurl }}">
                </div>
            </a>
        </div>
    </div>
</div>
