---
layout: default
title: Our Awards
background-color: dark
permalink: /our-awards/
banner-divider: false
banner-text:
---

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="{{ '/assets/images/rosmediaawards-group.png' | prepend: site.baseurl }}" alt="Award group">
        </div>
        <div class="col-sm-6">
            <img src="{{ '/assets/images/rosmediaawards-melanie.png' | prepend: site.baseurl }}" alt="Award Melanie">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-5">
                <div class="py-4">
                    <div class="section-title">List of Our Awards</div>
                </div>
                {% include awards-list.html %}
            </div>
        </div>
    </div>
</div>

