---
layout: default
title: Our Services
permalink: /services/
background-color: dark
banner-divider: false
banner-text: 
---

<div class="container">
    <div class="row">
        <div class="col-12">
            {% include ros-list.html
            config=site.data.our-services.services
            %}
            <div class="py-2 mt-5 pt-5">
                <div class="d-block">
                    <div class="page-banner__title text-orange">Industries</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="divider divider--low-margin"></div>
    <div class="row">
        {% include industries-list.html
        data=site.data.our-portfolio.industries
        %}
    </div>
    <div class="divider divider--low-margin"></div>
</div>
